@use '../../Functios.scss' as f;
@use '../../Colors.scss' as c;

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  // mobile style
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  &__intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  &__image {
    img {
      position: relative;
      left: -150px;
      // mobile style
      @media screen and (max-width: 820px) {
        left: -50px;
      }
    }
  }
}
