@use '../../Functios.scss' as f;
@use '../../Colors.scss' as c;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    img {
      width: 177px;
      height: 45px;
    }
  }

  &__menu {
    display: flex;
    gap: 13px;
    transition: 0.3s;
    // styles for mobile
    @media screen and (max-width: 820px) {
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: -100%;
      width: 100%;
      background-color: c.$yellow;
      padding: 5rem 2rem 2rem 2rem;
      z-index: 5;
      box-shadow: c.$box-shadow;
      &.active {
        opacity: 1;
        left: 0;
      }

      li {
        font-size: f.rem(30);
      }
    }

    li + li::before {
      content: '/';
      display: inline-block;
      margin-right: 13px;
      // styles for mobile
      @media screen and (max-width: 820px) {
        content: '';
        margin-right: 0;
      }
    }
  }

  .menu-mobile {
    z-index: 10;
    background-color: transparent;
    &.active {
      .line {
        background-color: transparent;

        &::after {
          transform: rotate(45deg) translate(8px, 3px);
        }
        &::before {
          transform: rotate(-45deg) translate(8px, -3px);
        }
      }
    }

    .line {
      transition: 0.3s;
      display: inline-block;
      width: 30px;
      height: 4px;
      background-color: c.$dark-green;
      position: relative;

      &::after,
      &::before {
        transition: 0.3s;
        content: '';
        display: inline-block;
        width: 30px;
        height: 4px;
        background-color: c.$dark-green;
        position: absolute;
        left: 0;
      }

      &::after {
        margin: -8px 0;
      }

      &::before {
        margin: 8px 0;
      }
    }
  }
}
